{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
{% endblock %}

{% block body %}
<div id="map"></div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

<script>
var ORGAN_DATA_FILE = "{{ url_for('static', filename='json/organ_transp_data.json') }}";
</script>

<script src="{{ url_for('static', filename='js/map/index.js') }}"></script>
{% endblock %}